main {
  font-size: 20pt;
  margin-bottom: 1em;
}

.big-button {
  font-size: 1.5rem;
}

.select-list {
  font-size: 1em;
  width: 40%;
}

#stopwatch {
  width: 100%;
  background-color: azure;
  text-align: center;
  margin-bottom: 1em;
}

.stopwatch-display {
  display: block;
  width: 100%;
  font-size: 4em;
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)
{
  .form-elem {
    width: 100%;
  }
}
