main {
  font-size: 20pt;
  margin-bottom: 1em;
}
.big-button {
  font-size: 1.5em;
}
.select-list {
  font-size: 1em;
  width: 40%;
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)
{
  .form-elem {
    width: 100%;
  }
}
